.heartIcon {
  color: red;
}

.messageIcon {
  color: var(--secondary);
}

.static {
  opacity: 0;
  display: none;
}


@keyframes likeAnimation {
  0% {
    opacity: 0;
    /* top: 100%; */
  }

  94% {
    font-size: 2.3rem;
    /* top: 50%;
    left: 30%; */
  }

  100% {
    /* font-size: 2.3rem; */
    left: 40%;
    opacity: 100%;
  }
}