.heartIcon {
  color: var(--primary);
}

.emptyHeartIcon {
  color: white
}

.messageIcon {
  color: var(--secondary);
}

.static {
  opacity: 0;
  display: none;
}

/* For comments opening and closing */
.commentsElementContainer {
  /* display: flex; */

  /* init display */
  display: none;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  border-radius: 0.5rem;
  width: 100%;
  height: 400px;
  padding: 1rem;
  justify-content: space-between;
}


/* .commentContainer {
} */

.commentFunctions {
  /* width: 100%; */
  display: flex;
  gap: 0.5rem
}

/* input field for comments */
.commentFunctions > input {
  width: 80%;
  border-radius: 0.5rem;
  border: 1px solid grey;
  padding: 0.5rem;
}


.postCommentBtn {
  --color: var(--primary);
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 15px;
  border-radius: 0.5rem;
  font-weight: 500;
  color: var(--color);
}

.postCommentBtn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.postCommentBtn:hover {
  color: #fff;
}

.postCommentBtn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.postCommentBtn:hover:before {
  top: -30px;
  left: -30px;
}

.postCommentBtn:active:before {
  background: #3a0ca3;
  transition: background 0s;
}




@keyframes likeAnimation {
  0% {
    opacity: 0;
    /* top: 100%; */
  }

  94% {
    font-size: 2.3rem;
    /* top: 50%;
    left: 30%; */
  }

  100% {
    /* font-size: 2.3rem; */
    left: 40%;
    opacity: 100%;
  }
}