* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff4167;
  --secondary: #a454ff;
  --infoBtn: #2491ff;
  --background: #e2e2e2;
  --regBtn: #333333;
}

.text-gradient {
 color: #FF4066;
 background-image: linear-gradient(45deg, #FF4066 26%, #A454FF 98%, #80f0e3 100%);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

/* For login page */
html,
body,
#root {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--background);
}

/* For all react page roots */
/* #root {
  position: relative;
} */

/* PROFILE SECTION */
#homeContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


/** Text Gradient Example */
.universalHeader {
 color: #FF4066;
 font-weight: bold;
 background-image: linear-gradient(45deg, #FF4066 26%, #A454FF 98%, #80f0e3 100%);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 letter-spacing: 0.2rem;
 font-family: "Comfortaa";
}


/* For BlogFeed */
#blogFeedContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: clamp(355px, 80%, 600px);

}



#blogFeedContainer > .postContainer {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem;
  gap: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  object-fit: contain;
  position: relative;
  word-break: break-all;
  overflow-wrap: anywhere;
}

#blogFeedContainer > .postContainer > p {
  word-break: break-word;
  overflow-wrap: anywhere;
}

.postContainer > h3 {
  word-break: break-word;
  overflow-wrap: anywhere;
}

#blogFeedContainer > .postContainer > #postImage {
  max-width: 100%;
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgb(206, 206, 206) 0%,
    rgba(235, 235, 235, 1) 50%,
    rgb(224, 224, 224) 100%
  );
  border-radius: 0.5rem;
}

/* all posts */
#blogFeedContainer > .postContainer > .postHeader > .nameAndProfilePicContainer > .postAuthor {
  /* color: rgb(86, 86, 86); */
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-family: "Comfortaa";
  cursor: pointer;
}

#blogFeedContainer > .postContainer > .postHeader > .nameAndProfilePicContainer > .postAuthor:hover {
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}

.postTimestamp {
  font-family: "Comfortaa";
  font-weight: bold;
}

.nameAndProfilePicContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


/* LIKING AND COMMENTING */

.postInformation {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  justify-content: space-between;
}

.postFunctions {
  display: flex;
  gap: 0.5rem;
}

.postFunctionBtn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Comfortaa";
  color: white;
  border-radius: 1rem;
  transition: 150ms;
  background-color: #333;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.postFunctionBtn:hover {
  background-color: maroon;
}


/* POLLS */
.pollOption,
.hasVoted {
  border: none;
  padding: 0.8rem;
  font-weight: bold;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 150ms;
  gap: 4rem;
  background-color: var(--regBtn);
  background-color: color-mix(in srgb, var(--regBtn) 90%, transparent);
  border: var(--secondary) 2px solid;
  color: white;
}

.hasVoted {
  background-color: green;
  color: white;
}

.pollOption:hover {
  background-color: rgb(18, 47, 0);
}

/* CREATE POST MENU */
#elementContainer {
  /* margin-top: rem; */
  width: clamp(300px, 60%, 800px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Comfortaa";
}

/* menu title */
.moodleTitle {
  padding: 0 0 1rem 0rem;
}

#createMenuContainer {
  display: flex;
  gap: 1rem;
  max-width: 800px;
  max-height: 100vh;
}
/* for image selection */
#file{
  display: none;
}

#imagePreview {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

#selectImage {
  width: 30%;
  background-color: lightgrey;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
}

#selectImage:hover {
  background-color: var(--secondary);
  color: white;
}

#createMenuOptions {
  display: flex;
  width: 50%;
  gap: 1rem;
  list-style-type: none;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#createMenuOptions > li {
  width: 50%;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: #e1e6f9; /* Soft light blue for contrast */
  color: #6c2eb7;
  cursor: pointer;
  /* margin-top: 0.5rem; */
  transition: background 0.2s, color 0.2s;
  text-align: left;
  font-family: "Comfortaa";
  font-size: 0.9rem;
}



#createMenuOptions > li:hover {
  background-color: rgb(80, 0, 0);
  color: white;
}

#createMenuOptions > li:focus {
  color: red;
  border: 1px solid purple;
}

#createMenuContent {
  padding: 2rem;
}

.checkAnswers > button{
  color: white;
  background-color: var(--infoBtn);
  border: none;
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.checkAnswers > button:hover {
  background-color: var(--regBtn);
}

/* POPUP FORM */
#createPostForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  max-height: 600px;
}

#createPostForm > #imageInsertContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  gap: 1rem;
}

#createPostForm > #imageInsertContainer > input {
  color: var(--secondary);
}



/* Form labels */
.createPostFormLabel {
  font-weight: bold;
}

#createMenuContent {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
}

/* Post Title input field */
.createPostFormInputTitle {
  width: 100%;
  height: 40px;
  border: 1px solid grey;
  padding: 0.5rem;
  outline: none;
  max-width: 800px;
  max-height: 200px;
  border: 1px solid grey;
  border-radius: 1rem;
  font-family: "Arial";
  font-size: 1rem;
}

/* Post Body input field */
.createPostFormInput {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid grey;
  max-width: 100%;
  width: 100%;
  resize: none;
  outline: none;
  font-family: "Arial";
  font-size: 1rem;
}

#functionBtns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.emptyPostContainer {
  display: flex;
  justify-content: center;
  background-color: var(--regBtn);
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  font-family: "Comfortaa";
  font-weight: bold;
}

/* Submit button */
#submitTextBtn {
  background-color: var(--primary);
  color: white;
  font-size: 1rem;
  margin-left: auto;
  /* width: 100px; */
  padding: 0.5rem;
  padding-inline: 1rem;
  border: none;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
}

/* Add Poll Option button and remove Button */
#addPollOptionButton,
#removePollOptionButton {
  max-width: 400px;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 100ms;
}

/* Remove pollOptionButton */
#removePollOptionButton {
  background-color: crimson;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* add pollOptionButton */
#addPollOptionButton {
  margin-left: auto;
  background-color: var(--infoBtn);
}

.votePercentageContainer {
  width: 120px;
}

.votePercentage {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.optionText {
  font-size: 0.8rem;
  word-break: break-word;
  overflow-wrap: anywhere;
  text-align: left;
}

#removePollOptionButton:hover {
  background-color: rgb(156, 16, 44);
}

#addPollOptionButton:hover {
  background-color: darkblue;
}

#submitTextBtn:hover {
  transition: 150ms;
  background-color: #4d1092;
}

.successMessage {
  color: green;
}

/* Loading animation */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid var(--primary);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 4px;
  border: 2px solid var(--secondary);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@keyframes onLoad {
  0% {
    transform: translateY(0rem);
    opacity: 0;
  }

  50% {
    transform: translateY(1.5rem);
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  #createMenuContainer {
    background-color: white;
    padding: 1rem;
    /* gap: 15rem; */
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
  }

  #profileSection {
    display: none;
  }

  #mobileNavButton {
    display: block;
  }

  .navContainerSectionLinks {
    display: none;
  }

  #createMenuOptions {
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgba(150, 149, 149, 0.297);
  }

  #homeContainer {
    padding: 0rem;
    display: block;
    margin: 0;
  }

  #homeContainer > #blogFeedContainer > .postContainer {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 1rem;
  }

  #blogFeedContainer {
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
