:root {
  --primary: #fc1e1e;
  --primaryFaded: #ff3c3c;
  --secondary: #861efc;
  --background: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navImg {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

#mobileNavButton {
  display: none;
  background: none;
  border: none;
  color: var(--primary);
  font-size: 2rem;
  cursor: pointer;
}

#navContainer {
  background-color: #333;
  width: 80%;
  margin: 0 auto;
  position: sticky;
  top: 5px;
  border-radius: 3rem;
  padding: 0.5rem;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  font-family: "Comfortaa";
  z-index: 1000;
}

.navContainerSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary);
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
}

.navContainerSectionLinks {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}

.navLink {
}

#navTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navContainerSectionLinks > li > a {
  text-decoration: none;
  color: white;
}

.navContainerSectionLinks > li > a:hover {
  color: var(--secondary);
}

#navCreatePost {
  background-color: var(--primary);
  padding: 0.7rem;
  transition: 150ms;
  border-radius: 2rem;
}

#navCreatePost:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

#navCreatePost > a {
  color: white;
}


/* Mobile nav menu */
.navMobileMenu {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.navBarOpen {
  display: block;
  font-family: "Albert Sans";
  color: white;
  padding: 1rem;
  position: fixed;
  opacity: 1;
  pointer-events: all;
  background-color: #333;
  top: 0;
  width: 85%;
  height: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;

  /* animation tweaks */
  animation-duration: 500ms;
}

#mobileNavUserInformation {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5rem;
}

#mobileNavPfPic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#navJoinedDate {
  color: darkgrey;
}


#mobileNavList {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
  flex-direction: column;
  list-style-type: none;
}

#mobileNavList > li {
  border-radius: 0.5rem;
  padding: 0.5rem;
}
#mobileNavList > li:hover {
  background-color: #7575758e;
}

#mobileNavList > li > a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

#mobileNavList > li > a > i {
  color: var(--primary);
  background-color: #75757539;
  padding: 1rem;
  border-radius: 1rem;
}

/* Responsive Design for mobile devices */
@media (max-width: 768px) {
  #navContainer {
    justify-content: space-between;
  }

  #navContainer > .navContainerSection > h2 {
    /* display: none; */
  }
}
