@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap');

/*

  Entire profile header container
  Shows friends and number of posts

*/

#profileInformation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 1000px;
  margin: 0 auto;
  margin-top: 1%;
  border-radius: 2rem;
  margin-bottom: 2%;
  background-color: white;
  padding: 2rem;
  color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profileInformationItemPicForm {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 2rem;
  padding: 1rem;
}

.profileInformationItemPicForm > h2 {
  font-family: "Comfortaa";
}

.profileInformationPic {
  height: 100px;
  width: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

/* Container for Username, @ and BIO */
#profileDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Username and their @ */
#nameAndAT {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* permission badge if the user is an admin */
.userPermissionAdmin {
  background-color: crimson;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  font-family: "Comfortaa";
}


#profileDetailsBio {
  line-height: 1.5;
}

#profileDetailsHeader {
  color: grey;
}




/* PARENT CONTAINER FOR THIRD ITEM */
#profileStatusBar {
  grid-column: 1 / span 3;
}


/* Container for 'profilePic Change and create button */
#formButtonGroup {
  display: flex;
  justify-content: space-between;
  font-family: 'Comfortaa';
  gap: 1rem;
}

.userInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 3rem;
  padding: 1rem;
}

.userAnalyticsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.analyticLabel {
  color: grey;
  font-family: "Comfortaa";
}




/* CONTROL BAR FOR VIEWING LIKED POSTS ETC. */
.profileInformationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: color-mix(in srgb, var(--primary) 80%, white 20%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* flex item */
.profileInformationItemButtonGroup {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.profileControBtn {
  border: none;
  cursor: pointer;
  z-index: 100;
  background-color: #e1e6f9;
  color: #6c2eb7;
  font-weight: bold;
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px;
  transition: background 150ms, color 150ms, transform 150ms;
}

/* When the button is selected */
.profileControBtn:focus {
  background-color: var(--secondary);
  color: white;
}



/* FEED STYLES */
#userIDDisplay {
  color: whitesmoke;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.postContainer > img {
  border-radius: 0.5rem;
}

.profilePictures {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: 300ms;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  object-fit: cover;
}

.profilePictureSelectorLabel {
  border: none;
  cursor: pointer;
  z-index: 100;
  background-color: #f3eaff;
  color: #6c2eb7;
  font-weight: bold;
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: background 150ms, color 150ms, transform 150ms;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}


.profilePictureSelectorLabel:hover,
.profileControBtn:hover {
  background-color: var(--secondary);
  color: white;
  transform: translateY(-3px);
}

.postTimestamp {
  color: grey;
  font-size: 0.8em;
}
