

/* SideNav */
#profileSection {
  margin: 1rem;
  max-height: 60%;
  max-width: 500px;
  width: 300px;
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem;
  position: sticky;
  align-self: flex-start;
  top: 6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* transition: 150ms; */
  /* animation: onLoad 0.5s ease-in-out; */
}



.sideNavButton {
  background: none;
  width: 100%;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  font-family: "Comfortaa";
  font-size: 0.9rem;
  color: black;
  border-radius: 0.5rem;
}

#sideNavTitle {
  font-family: "Comfortaa";
  color: grey;
}

.sideNavButton > i {
box-shadow: rgba(249, 5, 5, 0.05) 3px 3px 3px 2px;
  color: var(--primary);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.sideNavButton:hover {
  background-color: rgb(255, 240, 240);
}



#sideNavButtonContainer {
  display: flex;
  flex-direction: column;
  /* margin-top: 2rem; */

}

/* The profile picture button */
/* For updating the users profile picture */
#pictureSelectorContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  justify-content: left;
  margin-bottom: 1rem;
}

#pictureSelectorForm {
  display: flex;
  gap: 0.5rem;
  /* flex-direction: column; */
  align-items: center;
}

#defaultPfPic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 300ms;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  object-fit: cover;
}


#pictureSelector:hover + #defaultPfPic {
  transform: translateY(7px);
}

#pictureSelector {
  background-color: blue;
  width: 100px;
  border: none;
  height: 150px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: 100;

}



/* .postFunctionBtn {

}
 */
/* From Uiverse.io by zjssun */
