

/* SideNav */

#sidenavContainer{
  display: flex;
  flex-direction: column;
}



#profileSection {
  margin: 1rem;
  max-width: 500px;
  width: 300px;
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem;
  position: sticky;
  align-self: flex-start;
  top: 6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


#scrollButtons {
  display: flex;
  justify-content: space-between;

  /* Temporary Solution  */
  position: sticky;
  top: 32rem;

  gap: 1rem;
  /* flex-direction: column; */
  padding: 1rem;
}

#scrollButtons > a {
  text-decoration: none;
  color: white;
  background-color: var(--primary);
  padding: 0.5rem;
  border-radius: 1rem;
  transition: 150ms;
  width: 100%;
}

#scrollButtons > a:hover {
  background-color: var(--regBtn);
  transform: translateY(-0.3rem);
}

.sideNavButton {
  background: none;
  width: 100%;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: 150ms;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  font-family: "Comfortaa";
  font-size: 0.9rem;
  color: color-mix(in srgb, var(--primary) 70%, black 30%);
  border-radius: 2rem;
  font-family: "Arial";
}

#sideNavTitle {
  font-family: "Arial";
  color: grey;
  margin-top: 1rem;
}

.sideNavButton > i {
  /* box-shadow: rgba(249, 5, 5, 0.05) 3px 3px 3px 2px; */
  box-shadow: rgba(249, 5, 5, 0.05) 0px 7px 29px 0px;
  color: var(--primary);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.sideNavButton:hover {
  background-color: var(--primary);
  color: white;
}

.sideNavButton:hover > i {
  color: white;
}



#sideNavButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* margin-top: 2rem; */

}

/* The profile picture button */
/* For updating the users profile picture */
#pictureSelectorContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  justify-content: left;
  margin-bottom: 1rem;
}

#pictureSelectorForm {
  display: flex;
  gap: 0.5rem;
  /* flex-direction: column; */
  align-items: center;
}

#userRoleContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

#userRole {
  color: grey;
}

#defaultPfPic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 300ms;
  /* cursor: pointer; */
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
  object-fit: cover;
}


#pictureSelector:hover + #defaultPfPic {
  transform: translateY(7px);
}

#pictureSelector {
  background-color: blue;
  width: 100px;
  border: none;
  height: 150px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: 100;

}



/* .postFunctionBtn {

}
 */
/* From Uiverse.io by zjssun */
